.container{
  position: relative;
  z-index: 1;
  max-width: 1590px;
  margin: 0 auto;
}

.wrapper{
  padding: 150px 15px 0 15px;

  //min-height: 100vh; /* Это важно: делает высоту body равной высоте видимого окна браузера */
  display: flex;
  flex-direction: column;
  font-size: 16px;
  @media screen and (max-width: 768px){
    padding: 115px 15px 0 15px;
  }
}